html, body {
  margin: 0px;
  padding: 0px;
}

body {
  background: #000000;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAIAAAD8GO2jAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABQSURBVEhL7dSxDQAwCANB9l+LwUgPxctt9NQWKCdCdVgTVoX9O+w/DkAxiSS63xBNVsAtQrEPiPCNK5Ce93IAkUlEQi2RRPeQoMkKuEUo9gCLbIyXKw6BsAAAAABJRU5ErkJggg==')
}