@font-face {
  font-family: 'Rialto NF Font';
  src: url('/res/RialtoNF.otf');
}

* {
  user-select: none;
}

html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  margin: 10px;
  padding: 0px;
  background-color: #000000;
  background-image: radial-gradient(closest-corner, #0c3c40, #000000);
  background-attachment: fixed;
}
.app {
  text-align: center;
  .head {
    text-transform: uppercase;
    font-family: "Rialto NF Font";
    font-size: 24pt;
    line-height: 50px;
    color: #f4e5cb;
    margin-bottom: 10px;
    .label {
      position: relative;
      &:before {
        content: '';
        width: 150%;
        height: 3px;
        display: inline-block;
        position: absolute;
        left: -25%;
        background-color: #f4e5cb;
        top: -9px;
      }
      &:after {
        content: '';
        width: 150%;
        height: 3px;
        display: inline-block;
        position: absolute;
        left: -25%;
        background-color: #f4e5cb;
        bottom: -6px;
      }
    }
  }
}
