.card {
    position: relative;
    background: #f3f3f3;
    padding: 5px;
    display: inline-block;
    border: 1px solid #e2e2e2;
    margin: 3px;
    border-radius: 3px;
    transition: 0.5s;
    color: #484848;
    width: 200px;
    height: 200px;
    overflow: hidden;
    color: #484848;
    .description {
        overflow-wrap: break-word;
    }
    a {
        text-decoration: none;
    }
    &:hover {
        background: #ff0000;
        border: 1px solid #000000;
        color: #ffffff;
        a {
            color: #ffffff;
        }
        .octo-corner {
            top: 0px;
            right: 0px;
        }
    }
    a {
        color: #000000;
    }
}