html, body, #container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsIAAA7CARUoSoAAAABeSURBVDhP7ZIhEsAwCARJDTyML+NwfApU2ka3A+jkZlDsnFgYZjYhibsDM2fY2l8lqgGdwoasH3RHh+/TZhMRZbljPqnQIgKImKLlQlUFIkoLd7xyKqUJHIdNYR/4DbRPMK0bDrvHAAAAAElFTkSuQmCC')
}

textarea {
	width: 100%;
	height: 90%;
}

.drag {
	box-shadow: inset 0px 0px 10px 2px #ffffff;
	opacity: 0.7;
}

.hidden {
	display: none;
}

#controls {
	background: #303030;
	font: 11px 'Lucida Grande', sans-serif;
    color: #ffffff;

	position: absolute;
	top: 0px;
	right: 5px;
}

#controls div {
	background: #1A1A1A;
	margin-bottom: 1px;
	border-left: 3px solid #2FA1D6;
	height: 26px;
	line-height: 26px;
	padding-left: 1px;
	padding-right: 4px;
}

#controls span {
	width: 80px;
	display: inline-block;
	text-align: center;
}

#controls input {
	background: #303030;
	color: #2FA1D6;
	width: 200px;
	border: 0px;
	height: 20px;
	padding-left: 5px;
}

#controls button {
	width: 100%;
	border: 0px;
	background: #000000;
	text-align: center;
	color: #ffffff;
	height: 18px;
	line-height: 18px;
}

#controls button:hover {
	background: #303030;
}